<div class="club-form-page">
  <div class="container">
    <div class="club-form-container">
      <div class="page-header">
        <h1>Edit Club</h1>
        <p>Update club information for <%= @club.name %></p>
      </div>

      <%= render 'form', club: @club %>
    </div>
  </div>
</div>
