<div class="club-form-page">
  <div class="container">
    <div class="club-form-container">
      <div class="page-header">
        <h1>Add New Club</h1>
        <p>Add a new foosball club or location to our directory</p>
      </div>

      <%= render 'form', club: @club %>
    </div>
  </div>
</div>
