<% content_for :title, "Brackets Coming Soon | USA Foosball" %>
<% content_for :description, "Tournament brackets are coming soon to USA Foosball." %>

<div class="brackets-page-coming-soon">
  <div class="container">
    <h1>Brackets Coming Soon</h1>
    <p>We are rebuilding this experience. Please check back shortly.</p>
  </div>
</div>
